itemsassetskindsoftware-packageurlhttp://app.51zuosi.com/iosApp.ipakindfull-size-imageneeds-shineurlhttp://app.51zuosi.com/mobile.pngkinddisplay-imageneeds-shineurlhttp://app.51zuosi.com/mobile.pngmetadatabundle-identifiercom.ios.SHSUYITC1441628015bundle-version3_3_1kindsoftwaresubtitlexyzstitleXY我要作死网APP免越狱