<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://ofj587o60.bkt.clouddn.com/%E4%BD%9C%E6%AD%BB%E8%B4%AD.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://app.51zuosi.com/mobile.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://app.51zuosi.com/mobile.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ios.SHSUYITC1441633627</string>
				<key>bundle-version</key>
				<string>3_3_1</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>xyzs</string>
				<key>title</key>
				<string>免越狱</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
